/* ==== БАЗОВІ (Mobile, від 320px і більше) ==== */
.projectsContainer {
  display: flex;
  flex-direction: column;
  /* min-width: 320px; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.title {
  font-size: 10px;
  color: white;
  margin-bottom: 50px;
}

.projectsList {
  will-change: transform;
}

.project {
  will-change: opacity, transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 30vh;
  opacity: 1;
  transition: opacity 0.1s ease-out;
  padding: 10px;
}

.even {
  flex-direction: row-reverse;
}

.odd {
  flex-direction: row;
}

.imageWrapper {
  flex: 1;
  max-width: 700px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.textWrapper {
  max-width: 700px;
  text-align: center;
  flex: 1;
  position: relative;
}

.logoImage {
  /* position: absolute;
  top: -25%;
  left: 0%; */
  border-radius: 20px;
  width: 100%;
}

.projectTitle {
  font-size: 32px;
  color: rgb(170, 0, 0);
  z-index: 10;
  position: relative;
}

.description {
  color: white;
  font-size: 16px;
  z-index: 10;
  position: relative;
}

.techStack {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1rem 0;
  z-index: 10;
  position: relative;
}

.tech {
  background: #333;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 10;
  position: relative;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  z-index: 10;
  position: relative;
}

.link {
  color: rgb(170, 0, 0);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.3s;
}

.link:hover {
  color: #81c3f7;
}

/* ==== Планшети (від 768px) ==== */
@media (min-width: 768px) {
  .title {
    font-size: 64px;
  }

  .project {
    width: 85vw;
    padding: 0 100px;
    gap: 30px;
  }

  .projectTitle {
    font-size: 48px;
  }

  .description {
    font-size: 24px;
  }

  .tech {
    font-size: 1.5rem;
  }

  .links {
    font-size: 24px;
  }
}

/* ==== Десктопи (від 1024px) ==== */
@media (min-width: 1024px) {
  .projectsContainer {
    gap: 130px;
  }
  .title {
    font-size: 96px;
  }

  .project {
    width: 80vw;
    padding: 0 200px;
    gap: 60px;
  }

  .projectTitle {
    font-size: 64px;
  }

  .description {
    font-size: 32px;
  }

  .tech {
    font-size: 2rem;
  }

  .links {
    font-size: 32px;
  }
}
