.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.projectsList {
  will-change: transform;
}

.project {
  will-change: opacity, transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 80vw;
  opacity: 1;
  transition: opacity 0.1s ease-out;
  padding: 0 200px;
}

.even {
  flex-direction: row-reverse;
}

.odd {
  flex-direction: row;
}

.imageWrapper {
  flex: 1;
  max-width: 700px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.textWrapper {
  max-width: 500px;
  text-align: center;
  flex: 1;
  max-width: 700px;
}

.projectTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  color: #aaa;
}

.techStack {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.tech {
  background: #333;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  color: #4ea8de;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.3s;
}

.link:hover {
  color: #81c3f7;
}
